.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 800px;
  overflow: scroll;
  background-color: #e0f2f1; 
  width:100%;
  
}
/* #b2dfdb */



.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 5px; 
  margin: 5px;
  background-color: #b2dfdb00;
}

.div {
  padding: 5px;
}

.navBar {
  width:100vw; /* full width */
}


@media (min-width:250px){
  .flexParent{ 
    display:flex; 
    flex-direction:row; 
    height:800px; 
    overflow: scroll; 
    text-align: center;
    
  }

  .myTrip{ 
    /* display: flex;  */
    /* flex-direction: row;   */
    /* width:300px;  */
    height:800px; 
    overflow: scroll; 
    text-align: center; 
    float: right; 
  }

  .auth{display: flex; 
    flex: 1; 
    flex-direction: row; 
    width:100%; 
   }

}

/* Colors 
cons PRIMARY_TEXT_COLOR = "#239160";
const PRIMARY_BACKGROUND_COLOR = "#239160";
const SECONDARY_BACKGROUND_COLOR = "#52BE80";
const BUTTON_BORDER_COLOR = "#239160";

//Fonts
const FONT_FAMILY = "Arial"
const BUTTON_FONT_COLOR = "white"
*/
.primary_background_color {
  background-color: #239160;
}


/* Buttons */
.select_btn{
    top: 30%;
    background-color: #00897b;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.result_btn{
    width: 350px;
    min-height: 300px;
    max-height: 400px;
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
    display: inlineBlock;
    margin: 10px 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  }

.small_btn{
    width: 80px;
    height: 40px;
    background-color: #26a69a;
    border: solid;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border-color: #009688;
    box-shadow: 5px 5px 5px grey;
    font-size: 12px;
    text-align: center;
    font-family: Arial;
    color: white;
    margin: 2px;
}

.delete_btn{
  width: 30px;
  height: 30px;
  float: right;
  border-radius: 25px;
  background-color: #26a69a;
  border-color: #009688;
  color: white;
  cursor: pointer;
  font-family: Arial;
  font-weight: bolder;
}
.delete_btn:hover {background-color: #155136}

.element_delete_btn{
  height: 15px;
  width: 15px;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  display: inline-block;
  line-height: 7px;
  background-color: transparent;
  border-radius: 4px;
}
.element_delete_btn:hover {background-color: #26a69a;}

.arrow_btn {
  color: #00897b;
  background-color: #b2dfdb00;
  font-size: 40px;
  border: none;
  margin:4px;
}
  
.modal_btn{
  width: 100px;
    height: 50px;
    background-color: #26a69a;
    border: solid;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border-color: #009688;
    box-shadow: 5px 5px 5px grey;
    font-size: 12px;
    text-align: center;
    font-family: Arial;
    color: white;
    display:inline-block;
    margin: 5px;
}

/* Texts */
.title_text {
    color: #00897b;
    padding: 10px;
    font-family: Arial;
    text-align: center;
    font-size: 40px;
}

.small_text {
  color: white;
  padding: 1px;
  font-family: Arial;
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.medium_text {
  color: white;
  padding: 1px;
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}

.large_text {
  color: white;
  padding: 1px;
  font-family: Arial;
  text-align: center;
  font-size: 30px;
}

.error_text {
  color: #239160;
  padding: 10px;
  font-family: Arial;
  text-align: center;
  font-size: 40px;
}

.modal_title {
  color: #00897b;
  font-family: Arial;
  text-align: center;
  font-size: 30px;
  text-transform:uppercase;
}

.modal_text {
  color: black;
  padding: 1px;
  font-family: Arial;
  display:inline-block;
  font-size: 14px;
}

.price_text {
  font-weight: bold;
  font-size: 13px;
  font-family: Arial;
  padding:2px; 
  text-align: right;

}

.myTrip_text{
  display: inline-block;
}

.info_text_start{
  width: 60%;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  margin: auto;
}

.info_text_planner{
  padding: 20px;
  text-align: center;
  font-family: Arial;
  font-size: 15px;
  margin: auto;
}

.input_label{
  font-family: Arial;
  font-size: 15px;
}

/* Images */
.select_img{
    width: 225px;
    height: 150px;
}

.all_trips_img{
  width: 300px;
  height: 200px;
}

/* Div */
.filter_div {
    width: 150px;
    float: left;
    border: 2px solid #239160;
    box-shadow: 1px 1px 5px #e20a0a;
    display: flex;
    flex-direction: column;
    display: "flex";
    border-radius: 5px;
}

.restaurantDiv {
  width: 100%;
}

.activityDiv {
  width: 100%;
}

.accommodationDiv {
  width: 100%;
}

.all_trips {
  width: 350px;
  height: 500px;
  background-color: #00897b;
  overflow: scroll; 
  margin: auto;
  padding: 2px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

/* Link */
.lnk_style {
    color: white;
    text-decoration: none;
    position: left;
  }

/* Containers */
.myTrip_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #00897b;
    box-shadow: 1px 1px 5px #888888;
    overflow: hidden;
    background-color: transparent;
  }

.containerSection {
    width:100%;
}

.modall {
  width: 500px;
  height: 350px;
  box-shadow: 1px 1px 5px #888888;
  background-color: #e0f2f1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow:scroll;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

/* Forms */
.input_form{
  background-color: transparent;
}